<div>
  <form name="gameform" #f="ngForm">
    <div class="form-group">
      <label for="selectPlay">Throw:</label>
      <select required id="selectPlay"
              name="selectPlay"
              class="form-control"
              style="width: 200px;"
              [(ngModel)]="selectedPlay">
        <option *ngFor="let play of plays" [ngValue]="play.value">{{play.value}}</option>
      </select>
    </div>
    <div class="form-group">
      <button [disabled]="f.invalid" style="margin-right: 10px;" class="btn btn-secondary" (click)="submitPlayRandom(selectedPlay)">Play against Random</button>
      <button [disabled]="f.invalid" style="margin-right: 10px;"  class="btn btn-secondary" (click)="submitPlayRock(selectedPlay)">Play against Rock</button>
      <button style="margin-right: 10px;"  class="btn btn-secondary" (click)="reset()">Reset</button>
    </div>
    <div class="form-group"><label>{{getOpponentPlay()}}</label></div>
    <div class="form-group"><label>{{getRoundResult()}}</label></div>
  </form>
</div>
