<div>
  <form name="gameform" #f="ngForm">
    <div>
      <label for="selectPlay">Throw:</label>
      <select required id="selectPlay"
      name="selectPlay"
      class="select"
      [(ngModel)]="selectedPlay">
        <option *ngFor="let play of plays" [ngValue]="play.value">{{play.value}}</option>
     </select>
    </div>
    <div><button (click)="submitPlayRandom(selectedPlay)">Play Random</button>
      <button (click)="submitPlayRock(selectedPlay)">Play Rock</button>
      <button (click)="reset()">Reset</button></div>
    <div><label>{{getOpponentPlay()}}</label></div>
    <div><label>{{getRoundResult()}}</label></div>
  </form>
</div>
